# Eclipse
.classpath
.project
.buildpath
.settings/
.DS_Store
.idea/

src/.DS_Store
src/main/.DS_Store

# Java
*.class
# packages
*.jar
*.war
*.ear

# GIT
.git/

# Logging
*.log

# Maven
log/
target/
/bin/
